nav {
    background-color: antiquewhite;
}

.carousel-item img{
    width: 95%; /* width of container */
    margin-left: 2.5%;
    padding-top: 25px;
    /* height: 600px;
    */
    /* height of container */
}

